:root {
    --green-color-3: #033e93;
    --green-color-2: #ffffff;
    --green-color-1: #51575e;
  }
  .container {
    display: flex;
    justify-content: left;
    align-items: left;
  
    padding: 4px 64px;
    background-color: var(--green-color-3);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
  
    transition: 0.4s ease;
  }
  
  .container a {
    text-decoration: none;
  }
  
  .container ul {
    padding: 0;
    list-style: none;
  }
  .title {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
  .title i {
    font-size: 32px;
    color: var(--green-color-1);
    margin: 0 8px 0 0;
  }
  
  .title strong {
    font-size: 32px;
    color: var(--green-color-1);
    letter-spacing: 0.5px;
  }
  .option__list {
    display: flex;
    margin-left: 200px;
  }
  
  .option__list li a {
    font-size: 36px;
    padding: 4px 12px;
    color: var(--green-color-1);
  }
  
  .option__list li a:hover {
    cursor: pointer;
    color: var(--green-color-2);
  }
  
  .icon__list {
    display: flex;
  }
  
  .icon__list li {
    font-size: 24px;
    padding: 4px 8px;
  }
  
  .icon__list li a {
    color: var(--green-color-1);
  }
  
  .null {
    width: 100%;
    height: 100px;
  }
  
  @media screen and (max-width: 1090px) {
    .option__list {
      display: none;
    }
  }
  